.container {
    background: linear-gradient(to top, #0dca3c, #185626);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: rgb(134, 186, 175);
    width: 40%;
    height: 70%;
    border-radius: 5px;
    text-align: center;
}

.form-title {
    color: black;
    font-size: 30px;
}

.input-field-container {
    margin: 5px;
}

.input-field {
    background-color: rgb(140, 210, 194);
    color: black;
    width: 80%;
    border-radius: 10px;
}

.alternative-container {
    color: black;
    font-size: 16px;
    margin: 10px;
}

.alternative-button {
    background-color: rgb(140, 210, 194);
    font-size: 14px;
    width: 15%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin: 10px;
}

.alternative-button:hover {
    background-color: rgb(146, 237, 216);
}

.submit-button {
    background-color: rgb(140, 210, 194);
    color: black;
    font-size: 18px;
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin: 10px;
}

.submit-button:hover {
    background-color: rgb(146, 237, 216);
}